.container {
  
}

.header {
  display: flex;
  border-bottom: 1px solid #efefef;
}

.image {
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  box-shadow: 1px 1px 9px 0px #dddddd;
  margin: 5vw;
}

.user-info {
  margin: 10vw 0;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: #999;
  justify-content: space-between;
}

.username {
  font-size: 18px;
  font-weight: bold;
  color: var(--text);
}

.error {
  font-size: 24px;
  text-align: center;
  padding: 40px;
}

.ig {
}

.ig:hover {
  cursor: pointer;
  filter: saturate(1.3);
}

.ig svg {
  color: #888;
}

.icon {
  color: #666;
  width: 24px;
  position: relative;
  top: 4px;
  font-size: 18px;
  margin-right: 4px;
}

.female {
  color: hotpink;
}

.male {
  color: skyblue;
}

.age {
  font-size: 18px;
  color: #888;
}

.stats {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 18px;
  padding: 10px;
  border-bottom: 1px solid #efefef;
}

.stats b {
  font-weight: bold;
}

.stats > * {
  padding: 4px; 
}

.history {

}

.history-header {
  font-weight: bold;
  font-size: 16px;
  padding: 14px;
  background-color: #efefef;

}