:root {
  --main: #41abf6;
  --secondary: #c1e6ff;
  --error: #ff3333;
  --light: #f9fcff;
  --success: green;
  --warning: orange;
  --text: #333;
  --input-background: rgb(235, 240, 255);

  --header-height: 30px;
}
