.container {
   display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  padding: 30px;
}

.container > * {
  width: 70%;
  margin: 15px;
}

.container .logo {
  margin: 0;
  width: 100%;
}

.title {
  padding-bottom: 30px;
}

.container a {
  text-decoration: underline;
  display: inline-block;
}

.image {
  width: 100%;
}

.crop-holder {
  margin: 0;
}

.hint {
  color: #555;
  font-size: 14px;
  max-width: 70%;
}

.terms {
  font-size: 13px;
  color: #888;
  margin: 10px 0;
}

.submit {
}

.button-container {
  padding: 10px 30px;
}

.cropped {
  border-radius: 50%;
  width: 43%;
  box-shadow: 1px 1px 2px;
}

.crop-container {
  max-width: 100%;
}

.button-holder {
  margin-top: auto;
}